[Desktop Entry]
Version=1.0

Type=Application

Terminal=true

Icon=/opt/icons/Terminal.svg

Name=Backup Node

Exec=bash -c 'sudo BACKUP_PROVIDER=Localfs LOCALFS_TARGET=/opt/backups BACKUP_TIMESTAMP=true /root/BTCPayNode/btcpayserver-docker/backup.sh'
