[Desktop Entry]
Version=1.0

Type=Application

Terminal=true

Icon=/opt/icons/Terminal.svg

Name=Change Node Configuration

Exec=bash -c 'sudo /root/BTCPayNode/btcpayserver-docker/Tools/rpi-change-configuration.sh'
