[Desktop Entry]
Version=1.0

Type=Application

Terminal=true

Icon=/opt/icons/Terminal.svg

Name=Check System Info

Exec=bash -c 'sudo /root/BTCPayNode/btcpayserver-docker/Tools/rpi-check-system-info.sh'
