[Desktop Entry]
Version=1.0

Type=Application

Terminal=true

Icon=/opt/icons/Terminal.svg

Name=Lnd Derivation Scheme

Exec=bash -c 'sudo /root/BTCPayNode/btcpayserver-docker/Tools/lnd-derivation-scheme.sh'
