[Desktop Entry]
Version=1.0

Type=Application

Terminal=true

Icon=/opt/icons/Terminal.svg

Name=Update Node

Exec=bash -c 'sudo /root/BTCPayNode/btcpayserver-docker/Tools/rpi-update-node.sh'
