base58==2.0.1
bitbox02==5.1.0
btchip-python==0.1.31
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
ckcc-protocol==1.0.2
click==7.1.2
construct==2.10.56
cryptography==3.3.1
ecdsa==0.16.1
hidapi==0.10.1
idna==2.10
keepkey==6.3.1
libusb1==1.9.1
mnemonic==0.19
noiseprotocol==0.3.1
pkg-resources==0.0.0
protobuf==3.14.0
pyaes==1.6.1
pycparser==2.20
requests==2.25.1
safet==0.1.5
semver==2.13.0
six==1.15.0
trezor==0.12.2
typing-extensions==3.7.4.3
urllib3==1.26.2
