[Desktop Entry]
Version=1.0

Type=Application

Terminal=false

Icon=/opt/electrum/venv-{{versions.electrum}}/lib/{{pythonFolder.stdout}}/site-packages/electrum/gui/icons/electrum.ico

Name=Electrum

Exec=env PYTHONPATH=/usr/lib/python3/dist-packages:$PYTHONPATH /opt/electrum/venv-{{versions.electrum}}/bin/python /opt/electrum/venv-{{versions.electrum}}/bin/electrum --oneserver --server=127.0.0.1:50001:t
