[Desktop Entry]
Version=1.0

Type=Application

Terminal=false

Icon=/opt/electrum/venv/lib/{{pythonFolder.stdout}}/site-packages/electrum/gui/icons/electrum.ico

Name=Electrum

Exec=/opt/electrum/venv/bin/python /opt/electrum/venv/bin/electrum --oneserver --server=127.0.0.1:50001:t
